.filter{
    text-align: center;

    &__filterBoxOpenButton{
        background-color: #011827;
        border: solid 2px #8acfe5;
        border-radius: 4px;
        color: #8acfe5;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 700;
        height: 66px;
        margin-top: 56px;
        width: 308px;
    }
    &__filterBox{
        display: flex;
        flex-direction: column;
        border: solid black 1px;
        padding: 0em 0em;
        display: none;
        margin: 0em 5em;
    }
    &__title {
        display: flex;
        justify-content: space-between;
    }
    &__h3{
        margin: 1rem;
        text-align: left;
    }

    &__filters{
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px;
        text-align: left;
        @include breakpoint($small) {
            grid-template-columns: 1fr 1fr;
        }
        @include breakpoint($xl) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    &__closeButton{
        margin: 1rem;
        filter: invert(1);
        height: 1rem;
        width: 1rem;
        right: 0.4em;
        padding: 0.2em 0.2em;
    }
    &__filterByType{
        display: flex;
        flex-direction: column;
    }

    &__filterByRating{
        display: flex;
        flex-direction: column;
    }
    &filter__stars{
        display: flex;
        flex-direction: row;
    }
    &__filterBySearch{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    &__h4Keyword{
        grid-row: 1 / 1;
        grid-column: 2 / 2;
        text-align: left;
    }

    &__inputFilter{
        grid-row: 2 / 2;
        grid-column: 2 / 2;
        font-size: 1rem;
        margin-bottom: 2em;
        margin-right: 2em;
        padding-left: 0.3em;
    }

    &__starsMinRating{
        color: red;
    }

    &__starsMaxRating{
        color: red;
    }

    &__tagButton {
        border-radius: 25px;
        padding: 5px 10px;
        margin-right: 0.2em;
        background-color: rgb(238, 238, 238);
        border: solid rgb(178, 178, 178) 2px;
    }

    &__tagButton--selected {
        background-color: grey;
    }

    &__starContainer {
        display: flex;
    }
    &__paragraph {
        margin: 0 10px;
    }
    &__filterByType label {
        font-size: 18px;
    }
}